.card-image {
    
  width: 200px;
  height: 200px;
  margin: 5px;
}
.card-container {
    cursor: pointer;
    display: flex;
    padding-bottom: 10px;
    max-width: 400px;
    max-height: 400px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(99, 99, 164);
    flex-wrap: wrap;
    margin-right: 10px;
    margin-bottom: 10px
}
.card-container:hover {
  opacity: 0.5;
}
.image-info {
    font-size: 25px;
    color: white;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;

}