.card-image {
    
  width: 200px;
  height: 200px;
  margin: 5px;
}
.card-container {
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    flex-wrap: wrap;
    margin-right: 10px;
}
.image-info {
    font-size: 18px;
    color: white;

}