.card-image {
    
  max-width: 250px;
  max-height: 250px;
  background-color: white;
  border-radius: 20px;
}
.card-container {
  border-radius: 20px;
    cursor: pointer;
    display: flex;
    padding-bottom: 10px;
    padding: 30px;
    border-radius: 5px;
    flex-direction: column;
    background-color: rgb(135, 45, 45);
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.card-container:hover {
  opacity: 0.5;
}
.image-info {
    font-size: 50px;
    color: white;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;

}