.card-image {
    
  max-width: 250px;
  max-height: 250px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
    transition: transform 0.2s, box-shadow 0.2s;

}
.card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-container.flipped .card-inner {
  transform: rotateY(180deg);
}
.card-container {
  transition: transform 0.2s, box-shadow 0.2s;

  border-radius: 20px;
    cursor: pointer;
    display: flex;
    padding-bottom: 10px;
    padding: 30px;
    border-radius: 5px;
    flex-direction: column;
    background-color: rgb(135, 45, 45);
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.card-container:hover {
  transform: scale(1.05);
}
.card-container:hover .card-image {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 8px 20px rgba(255,255,255,0.5);
}
.image-info {
    font-size: 50px;
    color: white;
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;

}