body {
  background-color: rgb(179, 143, 218);
}
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.score-info,
.max-score-info {
  font-size: 50px;
  font-family: "Jersey 10", sans-serif;
}

.how-to-play {
  font-size: 50px;
  color: white;
  font-family: "Jersey 10", sans-serif;
}

